@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    
        <button  class="btn btn-default start-btn" type="button" value="Start"  onclick="location.href='@Url.Action("About", "Home")'">Play!</button>
    </div>
