html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    background-color: #C9E6FF;
    height: 100%;
}

.content-area, .article-tree {
    background-color: #359abf;
    overflow: auto;
    height: 100%;
    
}

.footer {
    background: #359abf;
    height: 20px;
    align-content: center;
    text-align: center;
}
.start-btn {
    width: 200px;
    height: 56px;
    font-size: 25px;
    background: #83c917;
    border-color: #fff;
    position: absolute;
    top: 40%;
}
.main {
    text-align: center;
    margin-right: 200px;
}
.question {
    margin-top: 120px;
    text-align: center;
    border: groove;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.questionText {
    font-size: 30px;
    color: lime;
}
.options {
    width: 200px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    background: #ca429a; 
    border-color: #fff;
}

.score {
    margin-top: 300px;
    font-size: -webkit-xxx-large;
    color: gold;
    margin-left: 520px;
}